<div class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
<button *ngFor="let page of pages"
        (click)="goToPage(page)"
        [class.active]="currentPage === page">
  {{ page }}
</button>
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</div>
<table class="comments-table">
 <thead>
    <tr>
      <th (click)="sort('userName')">
        User Name
        <span *ngIf="sortBy === 'userName'">
          <span *ngIf="sortDirection === 'asc'">&#9650;</span>
          <span *ngIf="sortDirection === 'desc'">&#9660;</span>
        </span>
      </th>
      <th (click)="sort('email')">
        Email
        <span *ngIf="sortBy === 'email'">
          <span *ngIf="sortDirection === 'asc'">&#9650;</span>
          <span *ngIf="sortDirection === 'desc'">&#9660;</span>
        </span>
      </th>
      <th (click)="sort('createdAt')">
        Created At
        <span *ngIf="sortBy === 'createdAt'">
          <span *ngIf="sortDirection === 'asc'">&#9650;</span>
          <span *ngIf="sortDirection === 'desc'">&#9660;</span>
        </span>
      </th>
      <th>Message</th>
      <th>Replies</th>
      <th>File</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let comment of comments">
      <tr (click)="selectParent(comment.id, $event)">
        <td>{{ comment.userName }}</td>
        <td>{{ comment.email }}</td>
        <td>{{ comment.createdAt | date:'short' }}</td>
        <td [innerHTML]="comment.message | safeHtml">{{ comment.message }}</td>
        <td>
          <button *ngIf="comment.hasReplies" (click)="toggleReplies(comment.id);">
            {{ isExpanded(comment) ? 'Hide Replies' : 'Show Replies' }}
          </button>
        </td>
        <td>
          <button 
            *ngIf="comment.filePath" 
            (click)="openFile(comment.filePath, comment.fileExtension)"
            class="btn btn-sm btn-primary">
            Open File
          </button>
        </td>
      </tr>
      <tr *ngIf="isExpanded(comment)" class="replies-row">
        <td colspan="5">
          <app-comment-list [currentParentId]="comment.id"></app-comment-list>
          <ng-template #noReplies>
            <div>No replies found.</div>
          </ng-template>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
<div *ngIf="fileModalUrl" class="modal-overlay" (click)="closeFile()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <ng-container *ngIf="fileModalUrl && fileService.isImage(fileModalUrl);">
      <img [src]="fileModalUrl" alt="File" />
    </ng-container>
  </div>
</div>